/* body{
    color: black;
}
h1{
    color:blue
}
h2{
    color: rgb(17, 255, 0);
}
#Title{
    color:blueviolet
}

.para{
    color:rgb(246, 3, 3)
} */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root{
    --primary-color:rgb(32, 133, 133);
    --dark-grey:#6B7280;
    --grey:rgb(147, 147, 147);
    --off-white:beige;
    --extra-link:aqua;
    
}

body{
    color:
}

hr{
    margin: 2rem 1rem ;
    color:rgb(228, 228, 205)
}

.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

.link {
    
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    margin-top  : 1rem;
    margin-bottom : 1rem;

}

/** links **/
.primary-link{
    background-color: var(--primary-color);
    border-radius: 2rem;
    max-width: 150px;
    color:beige;
    border-radius: 2rem;
    display: block;
    margin:1rem auto;
    display: inline;
}
.secondary-link{
    color: var(--primary-color);
    border-radius: 0.1rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet {
    list-style: none;
}
.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
    margin: 0.3rem;
    
}
.navigation .link  {
    color:white;
    text-align-last: center;
    text-transform: uppercase;
    
}
.navigation .nav-brand {
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 1.08rem;
    font-family:cursive
}

.navigation .nav-pills {
    text-align: right;
    padding : 1rem;
    
}

.navigation .link-active {
    text-decoration-line: underline;
    text-shadow: 2rem;
}

.hero {
    padding: 2rem;
    
}

.hero .hero-img {
    max-width: 200px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top:1rem;
    color: var(--dark-grey);
    margin: auto;
    text-align: center;
}

.hero .hero-heading .heading-inverted{
    color:var(--primary-color);
}

.section h3 { 

    text-align:center;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 1rem;
}
.section p {
   
    padding:10px;
}
.section-offwhite  {
    color: black;
    background-color: var(--off-white);
    padding-bottom: 2rem;
    border-radius: 15px;
    margin: 0.5px;

}
.section-gray  {
    color: rgb(255, 255, 255);
    background-color: var(--grey);
    border-radius: 15px;
}

.footer {
    background-color: var(--primary-color);
    padding :2rem 0rem;
    text-align: center;
    color:white;
    border-radius: 10px;
    margin-top: 1rem;
}
.footer .link {
    color:white;
}
.footer .footer-header {
    font-weight: bold;
    font-size: large;
    ;
}

.margin-md{
    margin:1rem;
    
}
.container-center a{
    display: inline;
}

.container-center .link-secondary {
    color:rgb(32, 133, 133);
    padding-left: 10px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10rem;
    border-top: 0px;
    text-decoration: underline;
}
.container-center p{
    padding-bottom: 1rem;
    margin-bottom: auto;
    margin-top: -2rem;
}



